* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  background: #4e4949;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.container {
  margin: 1rem auto;
  width: 70vw;
  height: 70vh;
  border: 2px solid black;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #484848;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  background: #3b3939;
  padding: 2rem;
  color: silver;
}

.options {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.dificulty-text, .marker-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid silver;
}

.dificulty-box, .marker-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marker-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.marker {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  width: 20px;
  border: 2px solid silver;
  color: silver;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.playing-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playing-field div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.3%;
  height: 33.3%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 4rem;
}

.playing-field div:hover {
  cursor: pointer;
}

.fancy-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 25px;
  width: 40px;
  border: 2px solid silver;
  margin: 0 1rem;
  color: silver;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: silver;
  position: absolute;
  -webkit-transition: all .5s ease-Out;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.fancy-button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.fancy-button:hover {
  color: red;
  -webkit-transition: all .45s ease-Out;
  transition: all .45s ease-Out;
}

.restart {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.text {
  position: relative;
  -webkit-transition: all .45s ease-Out;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  -webkit-transition: all .5s ease-Out;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.restart:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.restart:hover .text {
  color: red;
}

.active {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

footer {
  background-color: #3b3939;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: silver;
}

.end-game-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  color: silver;
  gap: 2rem;
}

.end-game-modal button {
  font-size: 3rem;
}

.end-game-modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Ok, mostly done with the project. Left to do:
    -The screen size adaptability (also minimum size)
    -Some animation for the end game modal to see where the last move was made
    -Playing field. Should I leave the squares or no?

    */
/*# sourceMappingURL=style.css.map */